

<div class="text-center">
   
    <h1 class="display-4">Soy Cristian Ovalle</h1>
    <h2>Desarrollador junior, utilizo las tecnologias ASP.NET CORE y React</h2>

    <img id="foto"
         src="~/imagenes/Foto_Cris.jpg" alt="Foto de cristian" />

</div>

<div class="text-center">

    <img id="FotoNet" src="~/Imagenes/dotnet-imagen-2.png" />

</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenido">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy Desarrollador de apliaciones junior, e practicado con c#/ASP.NET, SQL Server, Entity Framework, React
            Mis planes son poder crecer en este mundo de la programacion, estoy disponible para
            cualquiera pasantia enlazada al area de programacion
        </p>
    </div>
</div>
